.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
    max-width: 500px;
  }
  
  .checkout-form label {
    font-weight: 600;
    color: #333;
  }
  
  .checkout-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 8px 0;
  }
  
   .checkout-form button {
    margin-top: 20px;
    background-color: #407fc7;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .checkout-form {
      max-width: 90%;
    }
  }
  